/* ============================================= */
/*              Variables                        */
/* ============================================= */

$grey: #777;
$teal: #58e1c1;
$light-blue: #51ddfc;
$white: #fff;
$pink: #e4757a;
$purple: #927bc1;
$light-green: #63cc82;
$orange: #fd7856;
$break-point: 768px;